<?xml version="1.0"?>
<config>
    <modules>
        <Leza_Stores>
            <version>0.1.1</version>
        </Leza_Stores>
    </modules>

    <frontend>
        <routers>
            <countrystores>
                <use>standard</use>
                <args>
                    <module>Leza_Stores</module>
                    <frontName>countrystores</frontName>
                </args>
            </countrystores>
        </routers>
    </frontend>
    
    <global>
        <helpers>
            <countrystores>
                <class>Leza_Stores_Helper</class>
            </countrystores>
        </helpers>
        <models>
            <countrystores>
                <class>Leza_Stores_Model</class>
                <resourceModel>countrystores_mysql4</resourceModel>
            </countrystores>
            <countrystores_mysql4>
                <class>Leza_Stores_Model_Mysql4</class>
                <entities>
                    <countrystores>
                        <table>country_store</table>
                    </countrystores>
                </entities>
            </countrystores_mysql4>
        </models>
	<blocks>
            <countrystores>
		<class>Leza_Stores_Block</class>
            </countrystores>
        </blocks>
        <resources>
            <countrystores_setup>
                <setup>
                    <module>Leza_Stores</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </countrystores_setup>
            <countrystores_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </countrystores_write>
            <countrystores_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </countrystores_read>
        </resources>

        <events>
           <controller_action_predispatch>
            <observers>
               <leza_stores_model_observer> 
                   <type>singleton</type>
                   <class>Leza_Stores_Model_Observer</class>
                   <method>setStoreByIP</method>
                </leza_stores_model_observer>
            </observers>
          </controller_action_predispatch>
        </events> 
                
    </global>
    
    <admin>
        <routers>
            <leza_stores>
		<use>admin</use>
                <args>
                    <module>Leza_Stores</module>
			<frontName>countrystores</frontName>
                </args>
            </leza_stores>
        </routers>
    </admin>
</config>
